.post__comments {
  clear: both;

  h2 {
    font-size: 1.5em;
  }

  .post__comment--insulting {
    @extend .btn-danger;
  }

  li.post__comment {
    clear: both;
    list-style: none;
    border: 1px dotted grey;
    border-radius: 7px;
    padding: 4px 10px;
    margin: 2px;

    h3 {
      font-size: 1.2em;
    }

    p {
      margin: 0.5em 1em;
      width: 80%;
    }

  }

  .comment__votes {
    @extend .pull-right
  }

  .comment__button--add, .comment__button--edit, .comment__button--delete, .comment__button--uninsult, .vote__button--like, .vote__button--dislike {
    @extend .std__button;
  }
  .comment__button--add, .comment__button--edit, .comment__button--delete, .vote__button--like, .vote__button--dislike {
    @extend .pull-right;
  }
  .comment__button--delete, .vote__button--dislike {
    @extend .btn-danger;
  }
}
