
.post__tags-list {
  float: left;
  height: auto;
  .tag, .tag:hover {
    padding: 6px 13px;
    font-size: 12px
  }
}

.std__button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-small;
}

.post__button--add, .post__button--edit, .post__button--delete {
  @extend .std__button;
}

.post__button--delete {
  @extend .btn-danger;
}


.post__button--edit {
  font-size: 12px;
}

.post--short-size {
  border-bottom: 1px solid #f2f2f2;
}

.post--short-size {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.post--full-size {
  .post__body {
    margin: 15px 0;
  }
}

.post__comments {
  clear: both;
  margin: 100px auto auto auto;

  h2 {
    font-size: 1.5em;
  }

  .post__comment {
    clear: both;
    border: 1px dotted grey;
    border-radius: 7px;
    padding: 4px 10px;
    margin: 2px;

    h3 {
      font-size: 1.2em;
    }

    p {
      margin: 0.5em 1em;
      width: 80%;
    }

  }

  .comment_button--add, .comment__button--edit, .comment__button--delete {
    @extend .std__button;
  }
  .comment__button--delete {
    @extend .btn-danger;
  }
}
